<h2>New Student</h2>

<%= form_with(model: @student, local: true, url: add_students_path, method: :post) do |form| %>
  <%= render 'form_fields', student: @student, form: form %>
<% end %>

<%= link_to 'Back', students_path %>
