<header class="header clearfix">
  <nav>
    <ul class="nav nav-pills float-right">
      <li class="nav-item">
        <!-- <a class="nav-link active" href="/">Home <span class="sr-only">(current)</span></a> -->
        <%= link_to 'Courses', courses_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Students', students_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Categories', categories_path, class: 'nav-link' %>
      </li>
    </ul>
  </nav>
  <h3 class="text-muted">Academy App</h3>
</header>
